body{
  width: auto;
  font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: auto;
  
}
header{
  background-color: #59bbe9;
  width: 100%;
  height: 80px;
}
h1{
  color: black;
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 0px;

}
#diaporama{
  width: 100%;
  height:auto;
  padding:auto;
  position:relative;
  display: block;
}
#slide{
  position:relative;
  width:100%;
  height: auto;
  display:block;
  
}
figure{
  display:none;
 
 
}
img{
  max-width: 60%;
  max-height: 600px;
  margin-left: 20%;
  margin-right: 20%;
}
#left{
  padding-left: 46%;

}
.active{
  display:block;
}
.fa, .fas{
  width:50px;
  height:50px;
  font-size:40px;
}
.invisible{
  display: none !important;
}
#carte-reservation{
  display: flex; 
  height:600px;
}
#Marseille{
height: 500px;
width:800px;
margin:auto;
display: block;
}
#formulaire{
  display:none;
 margin:auto;
  
  max-width: 300px;
}
footer{
  background-color: #59bbe9;
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 45px; 
}
#annuler{
  display: none;
  justify-content: center;
  padding-top: 10px;
}
#canvas{
  border: 1px solid black;
  background-color: beige;
}
